{% load static %}

<head>
  <meta charset="UTF-8">
  <title>Download</title>
</head>

<body>
  <a href="{{ gray_pic_name }}" download="{{ gray_pic_name }}"><img src="{{ gray_pic_name }}" alt="qqq"></a>
  <a href="{{ sepia_pic_name }}" download="{{ sepia_pic_name }}"><img src="{{ sepia_pic_name }}" alt="qqq"></a>
  <a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img src="{{ mosaic_pic_name }}" alt="qqq"></a>
  <a href="{{ pixel_pic_name }}" download="{{ pixel_pic_name }}"><img src="{{ pixel_pic_name }}" alt="qqq"></a>
</body>

</html>
