{% extends 'hello/base.html' %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static '/hello/style.css' %}"> -->


{% block content %}
<div class="container-fluid">
      <div class="row">
            <div class="justify-content-center d-flex flex-wrap col">

                  <!-- thumbnail pic 【NORMAL】 -->
                  <div class="m-3">
                        <div class="thumbnail">
                              <a href="{{ original_pic }}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <img class="thumbnail_pic" src="{{ original_pic }}" alt="qqq"
                                          data-bs-toggle="tooltip" data-bs-html="true" title="オリジナル画像">
                              </a>
                        </div>
                        <div class="d-flex justify-content-between">
                              <div> </div>
                              <div>ORIGINAL</div>
                              <div><a href="{{ pixel_pic_name }}" download="{{ pixel_pic_name }}"
                                          class="thumbnail_link"><i class="fa-solid fa-download"></i></a></div>
                        </div>
                  </div>

                  <!-- Modal【NORMAL】-->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">;;
                        <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                    <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <!-- Modal【NORMAL】 content-->
                                    <div class="modal-body container">
                                          <div class="d-flex justify-content-around">
                                                <img src="{{ original_pic }}" alt="qqq" class="m-1 thumbnail_pic_modal">
                                                <img src="{{ pixel_pic_name }}" alt="qqq"
                                                      class="m-1 thumbnail_pic_modal">
                                          </div>
                                          <div class="d-flex justify-content-around">
                                                <p class="p-2 mt-2 bg-primary text-white rounded">Original</p>
                                                <p class="p-2 mt-2 bg-primary text-white rounded">Original</p>
                                          </div>
                                    </div>


                              </div>
                        </div>
                  </div>








                  <div class="m-3 thumbnail"><a href="{{ gray_pic_name }}" download="{{ gray_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ gray_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="モノクロ"></a></div>
                  <div class="m-3 thumbnail"><a href=" {{ sepia_pic_name }}" download="{{ sepia_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ sepia_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="セピア"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ mosaic_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="モザイク"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ mosaic_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="モザイク"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ mosaic_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="モザイク"></a></div>
                  <!-- 

            </div>
      </div>
      <div class="row">
            <div class="justify-content-center d-flex flex-wrap col"> -->
                  <div class="m-3 thumbnail"><a href="{{ oilpainting_pic_name }}"
                              download="{{ oilpainting_pic_name }}"><img class="thumbnail_pic"
                                    src="{{ oilpainting_pic_name }}" alt="qqq" data-bs-toggle="tooltip"
                                    data-bs-html="true" title="油絵風"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ edgepreserving_pic_name }}"
                              download="{{ edgepreserving_pic_name }}"><img class="thumbnail_pic"
                                    src="{{ edgepreserving_pic_name }}" alt="qqq"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ detailEnhanced_pic_name }}"
                              download="{{ detailEnhanced_pic_name }}"><img class="thumbnail_pic"
                                    src="{{ detailEnhanced_pic_name }}" alt="qqq"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ pixel_pic_name }}" download="{{ pixel_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ pixel_pic_name }}" alt="qqq"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ mosaic_pic_name }}" alt="qqq"></a></div>
                  <div class="m-3 thumbnail"><a href="{{ mosaic_pic_name }}" download="{{ mosaic_pic_name }}"><img
                                    class="thumbnail_pic" src="{{ mosaic_pic_name }}" alt="qqq"></a></div>

            </div>
      </div>
</div>

{% endblock %}
