.navbar-brand{
  font-size: 3rem;
}

.panda{
  width:4.5rem;
  height:auto;
}

.navbar-right{
  color: white;
  text-decoration:none;
  font-size:1.2rem;
}

.navbar-right:hover{
  color:white;
  text-decoration:underline;
}

.thumbnail{
  overflow: hidden;
}

.thumbnail_pic{
  width:18rem;
  height:auto;
}

.thumbnail_pic:hover{
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.thumbnail_pic_modal{
	max-width: 100%;
	height: auto;
}

.modal_processed_pic:active{
  transform: scale(1.5);
  transition-duration: 0.5s;  
}

.fa-download:before{
  color: black;
}
