.navbar-brand{
  font-size: 3rem;
}

.panda{
  width:4.5rem;
  height:auto;
}

.thumbnail{
  overflow: hidden;
}

.thumbnail_pic{
  width:18rem;
  height:auto;
}

.thumbnail_pic:hover{
  transform: scale(1.5);
  transition-duration: 0.5s;
}
